.main {
  font-family: 'Roboto';
  width: 100%;
  padding: 6.5rem .4rem 0 0;
  position: relative;
  z-index: 8;
  display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4.3rem;
}

.main-video {
  max-width: 32rem;
  display: flex;
    flex-direction: column;
}

.main-video_fig, .main-video_img  {
  width: 100%;
}

.main-video_fig {
  position: relative;
}

.main-video_img {
  border-radius: 1rem;
}

.main-video_time {
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0rem .4rem .2rem;
  border: none;
  border-radius: .5rem;
  position: absolute;
    right: .3rem;
    bottom: .7rem;
}

.main-video_play {
  font-size: 1.3rem;
  background-color: black;
  color: white;
  padding: .3rem .8rem;
  border-radius: .2rem;
  transition: 0.05s;
  position: absolute;
    right: .3rem;
    bottom: .7rem;
  display: none;
}

.main-video_fig:hover .main-video_time {
  display: none;
}

.main-video_fig:hover .main-video_play {
  display: inline;
}

.main-video_visualization {
  background-color: red;
  width: 99%;
  height: .4rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: absolute;
    bottom: .2rem;
  display: flex;
    justify-content: end;
}

.main-video_details {
  padding: 1rem 0 0 0;
  display: flex;
}

.main-video_details-fig {
  width: 4.8rem;
}

.main-video_details-img {
  width: 3.6rem;
  border-radius: 100%;
  margin-right: 1.2rem;
}

.main-video_details-info {
  padding-right: .3rem;
  display: flex;
    flex: 1;
    flex-direction: column;
}

.main-video_details-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  max-height: 4rem;
  overflow-y: hidden;
  line-height: 2rem;
  position: relative;
    z-index: 5;
  display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.main-video_details-options {
  width: 2rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 0;
  display: flex;
    justify-content: end;
}

.main-video:hover .main-video_details-options {
  opacity: 1;
}

.main-video_details-channel, .main-video_details-stats {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(160, 160, 160);
}

.main-video_details-channel {
  padding-top: .7rem;
  position: relative;
    z-index: 10;
  display: flex;
    align-items: center;
}

.main-video_details-channel_badge {
  width: 1.3rem;
  margin: .1rem 0 0 .5rem;
}

.main-video_details-channel__tooltip {
  background-color: rgba(100, 100, 100, .9);
  color: white;
  padding: .8rem 1rem;
  border-radius: .5rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  position: absolute;
    top: -5rem;
    left: -.8rem;
}

.main-video_details-channel__name:hover {
  color: rgb(215, 215, 215);
}

.main-video_details-channel__name:hover .main-video_details-channel__tooltip {
  opacity: 1;
}

.main-video_details-stats {
  padding-top: .2rem;
}

.main-video_details-live {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(180, 1, 1);
  color: white;
  width: 5.7rem;
  padding: .1rem .4rem;
  border-radius: .3rem;
  margin-top: .6rem;
  cursor: pointer;
  display: flex;
    align-items: center;
    gap: .7rem;
}

.main-video_details-live_img {
  width: 1.5rem;
  margin-top: .1rem;
}

.main-video_visualization-halo, .main-video_visualization-100v100 {
  background-color: gray;
  height: 100%;
  border-bottom-right-radius: 2rem;
}

.main-video_visualization-halo {
  width: 37%;
}

.main-video_visualization-100v100 {
  width: 34%;
}

@media (min-width: 512px) {
  .main {
    padding: 2.5rem .3rem;
      grid-template-columns: 1fr 1fr;
      gap: 4rem 1.8rem;
  }
}

@media (min-width: 600px) {
  .main {
    padding: 2.5rem;
  }
}

@media (min-width: 792px) {
  body {
    padding-left: 6.4rem;
  }
  .main {
    padding: 2.5rem 3rem 2.5rem 3.5rem;
  }
}

@media (min-width: 886px) {
  .main {
    padding: 2.5rem 3.5rem;
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1144px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1313px) {
  body {
    padding-left: 23.5rem;
  }
  .main {
    padding: 2.5rem 3.5rem;
  }
}

@media (min-width: 1630px) {
  .main {
    padding: 2.5rem 7rem;
      gap: 4rem 1.6rem;
  }
  .main-video {
    max-width: none;
  }
  .main-video_details-title {
    font-size: 1.6rem;
  }
  .main-video_details-channel, .main-video_details-stats {
    font-size: 1.4rem;
  }
}