* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 'Roboto', Arial;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0f0f0f;
  padding-bottom: 500px;
}

a {
  text-decoration: none;
}